
body{
    /* width: 100%;
    height: 100%; */
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url("../images/bckgame.png");
    /* background-image: url("../images/whitebck.png"); */
    background-size: 95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    margin-top: 10px;

    
}

#container{
    width: 90%;
    /* height: 90%; */
    margin: auto;
    /* position: relative; */
    /* overflow: hidden; */
    /* background-color: bege; */
    /* z-index: ; */
}

.scoreboard{
    padding: 20px;
    margin: 20px 0px;
    border: 1px solid white;
    font-family: codystar;
    color: #8db1da;
    background-color: black;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

#wins{
    font-size: 1.25rem;
    color: yellow;
    padding-top: 20px;
    padding-bottom: 5px;
}

#losses{
    font-size: 1.25rem;
    color: red;
    padding-top: 20px;
    padding-bottom: 5px;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 10px;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top: 10px;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Codystar;
    color: red;
    text-align: center;
    white-space: nowrap;
    background-color: #8db1da;
    transition: width .6s ease;
}

p{
    font-family: Codystar;
}


#hoop1{
    float: left;
    margin: 10px 20px;
    margin-left: -55px;
    width: 90%;
    z-index: 2;

}

#hoop2{
    float: left;
    margin: 10px 20px;
    width: 90%;
    position: relative;
    z-index: 2;
}

#hoop3{
    float: left;
    margin: 10px 20px;
    margin-left: 79px;
    width: 90%;
    position: relative;
    padding-bottom: 20px;
    z-index: 2;
}


img#game-ball{
    bottom: 50px;
    margin-left: 39%;
    width: 23%;
    padding: 0;
    position: relative;
    /* margin: 200px 0px 0px 0px; */
    /* padding: 20px;
    background-color:rgba(200, 54, 54, 0.5); */
    z-index: 4;
}

/* 
font-family: 'Monoton', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Codystar', cursive; */