
body{
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url("../images/bckblack.png");
    /* background-image: url("../images/whitebck.png"); */
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-attachment: fixed;

    
}

#container{
    width: 90%;
    /* height: 90%; */
    margin: auto;
    top: 15px;
    /* position: relative; */
    /* overflow: hidden; */
    /* background-color: bege; */
    /* z-index: ; */
}

.jumbotron{
    float: right;
    margin-top: 28px;
    margin-right: 82px;
    width: 64%;
    margin-left: 194px;
    background-color: black;
    color: #8db1da;
    padding: 9rem 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px solid rgb(140, 177, 219,0.6);
}



h1{
    font-family: Monoton;
    /* font-family: Bungee Inline; */
    text-transform: uppercase;
    color: #8db1da;
    letter-spacing: .5rem;
    margin-top: -108px;
}

.lead{
    font-family: Codystar;
    font-size: 2rem;
    font-weight: bold;
}

p{
    font-family: Codystar;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 3.5rem 7rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    background-color: #8db1da;
    border-color: black;
    color:  black;
    font-family: codystar;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
}
#score_help{
    text-align: center;
    font-size: 30px;
    background-color: white;
}

img.hoop{
    /* position: absolute; */
    /* background: url(./assets/images/hoop.jpg); */
    height: 250px;
    position: absolute;
    /* float: left; */
    z-index: 100;
}


img#ball{
    /* float: right; */
    margin-right: 23px;
    margin-top: -340px;
    height: 43%;
    z-index: 1;
    /* padding: 20px;
    background-color:rgba(200, 54, 54, 0.5); */

}

.ball2{
    background-color: red;
    width: 100px;
    height: 100px;
    top: 100px;
}

/* 
font-family: 'Monoton', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Codystar', cursive; */